body {
    color: black;
    background-image: url("../images/kh2_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:1em;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Makes the floater cover the bottom */
#content {
    min-height: calc(100vh - 40px);
}

li.nested {
    list-style-type: none;
}

/* Adds color to each container div to make it easier to read apart from the bg */
div.container {
    background-color: rgba(226, 242, 247, 0.7);
    border-radius: 25px;
    margin-top: 5em;
    margin-bottom: 2em;
    padding-top: 3em;
    padding-bottom: 2em;
}

#work {
    margin-bottom: 10em;
}

p.grad_info {
    font-size: 2em;
    vertical-align: center;
    margin-top:15%;
}

/* Change link colors depending on their state */
a:link {
    color: blue;
}

a:hover {
    color:white;
}

a:active {
    color:black;
}

/* tables and footer */

table.skills, th.skills, td.skills {
    width: 100%;
    font-style: italic;
    font-weight: bold;
}

footer {
    background-color: #343A3F;
    color: white;
    font-size: 0.7em;
    height:50px;
}

p.footer_content {
    height: 30px;
    padding-top:12px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}




